@use '../../styles/common.module.scss';
@use '../../styles/variables' as *;

.banner {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}
.spot_bottom {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../public/spot.png);
    background-repeat: no-repeat;
    background-color: #000;
    background-position: bottom left;
}
.spot_top {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../../public/spot-top.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #000;
}
.moon {
    background-image: url(../../public/hero-moon.png);
    background-position: top right;
    background-size: contain;
    background-color: #000;
}


.moon_footer {
    background-image: url(../../public/nasa.png);
    background-position: bottom center;
    background-size: cover;
 
}