@use '../../styles/common.module.scss';
@use '../../styles/variables' as *;

.banner {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(../../public/spot-top.png), url(../../public/spot.png);
    background-repeat: no-repeat;
}

.moon {
    background-image: url(../../public/hero-moon.png);
    background-position: top right;
    background-size: cover;
}
