// fonts
$accent-font: 'Clash Grotesk', sans-serif;


// colors

$border-color: linear-gradient(20deg, rgba(150,52,136,1) 0%, rgba(252,111,50,1) 50%, rgba(255,74,89,1) 100%);
$text-color: #fff;
$background-color: linear-gradient(180deg, #000000 36.4%, #191E2A 100%);


